*{
    margin: 0;
    padding: 0;
}
.container{
    width: 1200px;
    height: 500px;
    background-color: whitesmoke;
}
.main_body,
.header{
    display: flex;
    justify-content: center;
}
.header h1{
    margin: 100px 0px 0px;
    color: red;
}
table tr td{
    width: 10px;
    height: 10px;
}
.color0{
    background-color: red;
}
.color1{
    background-color: blue;
}