<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Hello World</h1>
    <table>
       <th></th>
       <th></th>
       <th></th>
        <tr>
           <td class="info"></td>
           <td class="info"></td>
           <td class="info"></td>

        </tr>
        <tr>
           <td class="info"></td>
           <td class="info"></td>
           <td class="info"></td>

        </tr>
        <tr>
           <td class="info"></td>
           <td class="info"></td>
           <td class="info"></td>

        </tr>
        <tr>
           <td class="info"></td>
           <td class="info"></td>
           <td class="info"></td>

        </tr>

        <!-- users = [
        {'first_name' : 'Michael', 'last_name' : 'Choi'},
        {'first_name' : 'John', 'last_name' : 'Supsupin'},
        {'first_name' : 'Mark', 'last_name' : 'Guillen'},
        {'first_name' : 'KB', 'last_name' : 'Tonel'}
     ] -->
</body>
</html>