<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
    <h1>Hello World</h1>
    <table>
        {% for i in range(num): %}
            <tr>
                {% for j in range(num): %}
                    <td class="color{{(i+j)% 2+1}}"></td>
                {% endfor %}    
            </tr>
        {% endfor %}
    </table>
    <table>
        <h1>refactoring</h1>
        {%for i in range(num):%}
            <tr>
            {%if num == num2:%}
                {%for j in range(num):%}
                    <td class="color{{(i+j)% 2+1}}"></td>
                {%endfor%}
            {%else:%}
                {%for j in range(num2):%}
                    <td class="color{{(i+j)% 2+1}}"></td>
                {%endfor%}    
            {%endif%}
            </tr>
        {%endfor%}
    </table>
</body>
</html>