*{
    margin: 0;
    padding: 0;
}
body{
    background-color: gray;
}
table th{
    background-color: darkgray;
    padding: 10px 30px;
    color: whitesmoke;
    border: 1px solid black;
}
table{
    display: flex;
    justify-content: center;
}
.info{
    padding: 10px;
    text-align: center;
    color: whitesmoke;
}
table td{
    border: 1px solid black;
}