*{
    margin: 0;
    padding: 0;

}
body{
    width: 1200px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.counter{
    width: 50%;
    background-color: whitesmoke;
}
.counter > *{
    text-align: center;
}
