<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Recipe</title>
</head>
<body>
    <form action="/recipe/create" method="post">
    <p>
        Name:
        <input type="text" name="name" id="">
    </p>
    <p>
        Description:
        <textarea name="description" id="" cols="30" rows="10"></textarea>
    </p>
    <p>
        Introduction:
        <textarea name="introduction" id="" cols="30" rows="10"></textarea>
    </p>
    <p>
        Date Mode On:
        <input type="date" name="date" id="">
    </p>
    <p>
        Under 30 Minutes?:
        <input type="radio" name="yes" value="Yes" id="">
        <input type="radio" name="no" value="No" id="">
    </p>
    </form>
    <a href="/dashboard">Dashboard</a>
</body>
</html>