<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static',filename = 'css/style.css')}}">
</head>
<body>
    <h1>Hello World</h1>
    <div class="container">

        <div class="form_card">    
            <form action="/result" method="post">
                <h1>Dojo Survey</h1>
                <div class="name">
                    
                    <p>name</p>
                    <input type="text" name="name" placeholder="Name">
                </div>
                <div class="location">
                    
                    <p>Location</p>    
                    <select name="location">
                        <option value="N/A"></option>
                        <option value="Oregon">OR</option>
                        <option value="Los Angeles">LA</option>
                    </select>
                    
                </div>
                
                <div class="favorite_lng">
                    <p>Favorite Language</p>    
                    <select name="fav_lng">
                        <option value="N/A"></option>
                        <option value="Python">Py</option>
                        <option value="Java Script">JS</option>
                    </select>
                </div>
                <div class="subbmit">
                    <textarea name="info" cols="50" rows="5"></textarea>
                </div>
                <input type="submit" value="SEND">
            </form>
        </div>
    </div>
</body>
</html>