*{
    margin: 0;
    padding: 0;

}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
    height: 500px;
    background-color: gray;
}
form{
    text-align: center;
}